* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1097FF;
    --text-color: #ffffff;
    --bg-color: #0F172A;
    --other-color: #252D40;

    --h1-font: 3rem;
    --h2-font: 1rem;
    --p-font: 0.75rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

@media screen and (min-width: 1400px) {
    :root {
        --h1-font: 4rem;
        --h2-font: 1.5rem;
        --p-font: 1.25rem;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --h1-font: 2rem;
        --h2-font: 0.8rem;
        --p-font: 0.50rem;
    }
}